@font-face {
    font-family: 'font1';
    src: url('SilkaMono-Regular.woff2') format('woff2'), url('SilkaMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'font2';
    src: url('KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA\ \(1\).woff2') format('woff2'), url('KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA\ \(1\).woff') format('woff');
}

@font-face {
    font-family: 'font3';
    src: url('PPNeueMontreal-Regular.woff2') format('woff2'), url('PPNeueMontreal-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

html,
body {
    overflow-x: hidden;
    color: #333;
    line-height: 1.5;
    background-color: #e6e7e8;
    -webkit-user-select: none;
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    /* background-color: #403f3d; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1vw;
    font-family: 'font1';
    font-weight: 100;
    z-index: 10;
}

.header_top {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #e6e7e8;
    /* background-color: #3f4525; */
}

.header_left {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 20%;
    /* background-color: #ffffff; */
    padding-left: 20px;
}
.header_left img{
    object-fit: contain;
    height: 80%;
    width: 50%;
}
.header_right {
    width: 45%;
    display: flex;
    justify-content: space-between;
    /* background-color: #592222; */
    padding-right: 20px;
}

.header_right a {
    color: #000000;
    text-decoration: none;
    display: flex;
    font-weight: 200;
    align-items: center;
    justify-content: center;
}

.nav_arrow {
    /* background-color: #c0282845; */
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_arrow i {
    color: #000000;
    font-size: 1.1vw;
    transform: rotate(120deg);
    transition: transform 0.3s ease;
}

.header_right a:hover .nav_arrow i {
    transform: rotate(0deg);
}




.header_container {
    width: 100vw;
    height: auto;
    /* z-index: 1; */
    font-family: 'font1';
    /* background-color: #490d0d; */
}



.headder_container1_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-top: 1px solid #00000065;

    /* Start with Height 0 (Hidden) */
    height: 0;
    opacity: 50;
    /* Hide content that hasn't been revealed yet */
    overflow: hidden;
    background-color: #e6e7e8;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);
    /* Animate the Height */


}


.header_container_1 {
    width: 100vw;
    height: 85vh;
    border-top: 0.5px solid #00000065;
    /* background-color: #0030cd47; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transform-origin: top top; */
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);

}

.header_container_1_top {
    width: 97vw;
    height: 35vh;
    gap: 20px;
    /* background-color: #ffffff; */
    display: flex;


}

.header_container_1_top_123 {
    font-size: 0.7vw;
    color: #0000006e;
    font-family: 'font2';

}

.header_container_1_top_123 a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 100;

}

.header_container_1_top_123 p {
    color: #0000006e;
    font-size: 0.9vw;
    padding-left: 30px;
}

.header_container_1_top_1 {
    width: 50%;


}

.header_container_1_top_1_inner {
    display: flex;
}

.header_container_1_top_1_left {
    /* background-color: #461d1d99; */
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container_1_top_1_left_12 {

    display: flex;
    /* white-space: nowrap; */
}

.header_container_1_top_logo {
    display: inline;
}

.header_container_1_top_arrow {
    display: inline;
}


.header_container_1_top_1_right {
    /* background-color: #1d463799; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 25vh;
}

.header_container_1_top_1_right_12 {

    display: flex;
    /* white-space: nowrap; */
}


.header_container_1_top_2 {
    width: 25%;

}

.header_container_1_top_2_left {
    /* background-color: #1d463799; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 25vh;
}

/* .header_container_1_top_2_left_1
{
    height: 50%;
    
}
.header_container_1_top_2_left_2
{
    height: 50%;
    
} */
.header_container_1_top_3 {
    width: 25%;

}




.header_container_1_bottom {
    /* background-color: #441d1d4f; */
    height: 25vh;
    width: 97vw;
    border-top: 1px solid #0e0c0c55;
    gap: 20px;
    display: grid;
    font-family: 'font3';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}

.header_container_1_bottom_part_all {
    /* background-color: #722323; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.header_container_1_bottom_part_1 {
    grid-area: 1 / 1 / 2 / 2;
    gap: 20px;
    border-right: 0.5px solid #0000006e;
}

.header_container_1_bottom_part_2 {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 0.5px solid #0000006e;
    /* background-color: aqua; */

}

.header_container_1_bottom_part_3 {
    grid-area: 1 / 3 / 2 / 4;

}


.header_container_1_bottom_part_1_left_all {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header_container_1_bottom_part_1_left_all img {
    width: 90%;
}


.header_container_1_bottom_part_1_right_all {
    width: 50%;
    height: 89%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    /* align-items: center; */
}

.header_container_1_bottom_part_1_right_all h2 {
    font-size: 1.2vw;

}

.header_container_1_bottom_part_1_right_all p {
    font-size: 0.9vw;
    color: #0000006e;
}

.header_container_1_bottom_part_1_right_all a {
    width: 65%;
    font-size: 1vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}









.headder_container2_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;


    /* Start with Height 0 (Hidden) */
    height: 0vh;
    /* opacity: 100; */
    /* Hide content that hasn't been revealed yet */
    overflow: hidden;
    background-color: #e6e7e8;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);
    /* Animate the Height */


}


.header_container_2 {
    width: 100vw;

    height: 47vh;
    margin-top: 10vh;
    border-top: 0.5px solid #00000065;

    gap: 20px;
    display: grid;
    /* align-items: end; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    /* transform-origin: top top; */


}




.header_container_2_part_all {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 20px 20px 0 20px;
}

.header_container_2_part1 {
    grid-area: 1 / 1 / 2 / 2;
    /* background-color: #0000006b; */

    border-right: 0.5px solid #0000006e;
}

.header_container_2_part2 {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 0.5px solid #0000006e;
    /* background-color: #333; */
}

.header_container_2_part3 {
    /* border-color: beige; */
    grid-area: 1 / 3 / 2 / 4;

}


.header_container_2_part_all_left {
    width: 40%;
    height: 100%;
    /* background-color: #000000; */

}

.header_container_2_part_all_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_container_2_part_all_right {
    width: 55%;
    font-family: 'font2';
}

.header_container_2_part_all_right h2 {
    font-size: 1.2vw;

}


.header_container_2_part_all_right p {
    font-size: 1vw;
    text-align: justify;
    margin-top: 5%;

}

.header_container_2_part_all_right a {
    width: auto;
    font-size: 0.9vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-top: 5%;
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;

}





















main {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /* Make sure it's below header */
}
