@font-face {
    font-family: 'font1';
    src: url('SilkaMono-Regular.woff2') format('woff2'), url('SilkaMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'font2';
    src: url('KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA\ \(1\).woff2') format('woff2'), url('KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA\ \(1\).woff') format('woff');
}

@font-face {
    font-family: 'font3';
    src: url('PPNeueMontreal-Regular.woff2') format('woff2'), url('PPNeueMontreal-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

html,
body {
    overflow-x: hidden;
    color: #333;
    line-height: 1.5;
    background-color: #e6e7e8;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}



header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    /* background-color: #403f3d; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1vw;
    font-family: 'font1';
    font-weight: 100;
    z-index: 10;
}

.header_top {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #e6e7e8;
    /* background-color: #3f4525; */
}

.header_left {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 20%;
    /* background-color: #ffffff; */
    padding-left: 20px;
}

.header_left img {
    object-fit: contain;
    height: 80%;
    width: 25%;
}

.header_right {
    width: 45%;
    display: flex;
    justify-content: space-between;
    /* background-color: #592222; */
    padding-right: 20px;
}

.header_right a {
    color: #000000;
    text-decoration: none;
    display: flex;
    font-weight: 200;
    align-items: center;
    justify-content: center;
}

.nav_arrow {
    /* background-color: #c0282845; */
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_arrow i {
    color: #000000;
    font-size: 1.1vw;
    transform: rotate(120deg);
    transition: transform 0.3s ease;
}

.header_right a:hover .nav_arrow i {
    transform: rotate(0deg);
}




.header_container {
    width: 100vw;
    height: auto;
    /* z-index: 1; */
    font-family: 'font1';
    /* background-color: #490d0d; */
}



.headder_container1_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border-top: 1px solid #00000065;

    /* Start with Height 0 (Hidden) */
    height: 0;
    opacity: 50;
    /* Hide content that hasn't been revealed yet */
    overflow: hidden;
    background-color: #e6e7e8;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);
    /* Animate the Height */


}


.header_container_1 {
    width: 100vw;
    height: 85vh;
    border-top: 0.5px solid #00000065;
    /* background-color: #0030cd47; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transform-origin: top top; */
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);

}

.header_container_1_top {
    width: 97vw;
    height: 35vh;
    gap: 20px;
    /* background-color: #ffffff; */
    display: flex;


}

.header_container_1_top_123 {
    font-size: 0.7vw;
    color: #0000006e;
    font-family: 'font2';

}

.header_container_1_top_123 a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 100;

}

.header_container_1_top_123 p {
    color: #0000006e;
    font-size: 0.9vw;
    padding-left: 30px;
}

.header_container_1_top_1 {
    width: 50%;


}

.header_container_1_top_1_inner {
    display: flex;
}

.header_container_1_top_1_left {
    /* background-color: #461d1d99; */
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container_1_top_1_left_12 {

    display: flex;
    /* white-space: nowrap; */
}

.header_container_1_top_logo {
    display: inline;
}

.header_container_1_top_arrow {
    display: inline;
}


.header_container_1_top_1_right {
    /* background-color: #1d463799; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 25vh;
}

.header_container_1_top_1_right_12 {

    display: flex;
    /* white-space: nowrap; */
}


.header_container_1_top_2 {
    width: 25%;

}

.header_container_1_top_2_left {
    /* background-color: #1d463799; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 25vh;
}

/* .header_container_1_top_2_left_1
{
    height: 50%;
    
}
.header_container_1_top_2_left_2
{
    height: 50%;
    
} */
.header_container_1_top_3 {
    width: 25%;

}




.header_container_1_bottom {
    /* background-color: #441d1d4f; */
    height: 25vh;
    width: 97vw;
    border-top: 1px solid #0e0c0c55;
    gap: 20px;
    display: grid;
    font-family: 'font3';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}

.header_container_1_bottom_part_all {
    /* background-color: #722323; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.header_container_1_bottom_part_1 {
    grid-area: 1 / 1 / 2 / 2;
    gap: 20px;
    border-right: 0.5px solid #0000006e;
}

.header_container_1_bottom_part_2 {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 0.5px solid #0000006e;
    /* background-color: aqua; */

}

.header_container_1_bottom_part_3 {
    grid-area: 1 / 3 / 2 / 4;

}


.header_container_1_bottom_part_1_left_all {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header_container_1_bottom_part_1_left_all img {
    width: 90%;
}


.header_container_1_bottom_part_1_right_all {
    width: 50%;
    height: 89%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    /* align-items: center; */
}

.header_container_1_bottom_part_1_right_all h2 {
    font-size: 1.2vw;

}

.header_container_1_bottom_part_1_right_all p {
    font-size: 0.9vw;
    color: #0000006e;
}

.header_container_1_bottom_part_1_right_all a {
    width: 65%;
    font-size: 1vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}









.headder_container2_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;


    /* Start with Height 0 (Hidden) */
    height: 0vh;
    /* opacity: 100; */
    /* Hide content that hasn't been revealed yet */
    overflow: hidden;
    background-color: #e6e7e8;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.09);
    /* Animate the Height */


}


.header_container_2 {
    width: 100vw;

    height: 47vh;
    margin-top: 10vh;
    border-top: 0.5px solid #00000065;

    gap: 20px;
    display: grid;
    /* align-items: end; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    /* transform-origin: top top; */


}




.header_container_2_part_all {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 20px 20px 0 20px;
}

.header_container_2_part1 {
    grid-area: 1 / 1 / 2 / 2;
    /* background-color: #0000006b; */

    border-right: 0.5px solid #0000006e;
}

.header_container_2_part2 {
    grid-area: 1 / 2 / 2 / 3;
    border-right: 0.5px solid #0000006e;
    /* background-color: #333; */
}

.header_container_2_part3 {
    /* border-color: beige; */
    grid-area: 1 / 3 / 2 / 4;

}


.header_container_2_part_all_left {
    width: 40%;
    height: 100%;
    /* background-color: #000000; */

}

.header_container_2_part_all_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_container_2_part_all_right {
    width: 55%;
    font-family: 'font2';
}

.header_container_2_part_all_right h2 {
    font-size: 1.2vw;

}


.header_container_2_part_all_right p {
    font-size: 1vw;
    text-align: justify;
    margin-top: 5%;

}

.header_container_2_part_all_right a {
    width: auto;
    font-size: 0.9vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-top: 5%;
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;

}





















main {
    position: relative;
    z-index: 1;
    width: 100vw;
    height:auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /* Make sure it's below header */
}





.part1 {
    height: 45vh;
    width: 97vw;
    color: #000;
    /* padding-bottom: 5%; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'font2';
    border-bottom: 0.5px solid #0000009c;
}

.part1 h1 {
    font-family: 'font3';
    font-weight: 400;
    font-size: 10vw;
}

.part1 button {
    margin-bottom: 4%;
    width: auto;
    font-family: 'font2';

    font-size: 0.9vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-top: 5%;
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s;
}

.part1 button i {
    rotate: 45deg;
}

.part1 button i {
    rotate: 45deg;
    transition: rotate 0.3s;
}

.part1 button:hover i {
    rotate: 90deg;
}







.part2 {
    min-height: 80vh;     /* IMPORTANT */
    width: 97vw;
    display: flex;
    justify-content: space-between;
    font-family: font2;
    margin-top: 5%;
    color: #000;
    /* background-color: yellow; */
    border-bottom: 0.5px solid #909091;
}

/* parent left column */
.part2_left {
    width: 45%;
    height: 90vh;
    /* position: relative; */
}

/* sticky element */
.part2_left_inner {
    height: auto;          /* avoid % height for sticky */
    width: 70%;
    /* background-color: #1a4e5c; */
    /* position: sticky; */
    /* top: 10px;   */
}


.part2_left_inner p
{
    font-family: 'font3';
    font-weight: 300;
    font-size: 0.9vw;
}
.part2_left_inner p:nth-child(3)
{
    font-family: 'font1';
    font-weight: 100;
    font-size: 0.9vw;
    margin-top: 2%;
}
.part2_left_inner h5
{
    font-family: 'font2';
    font-weight: 400;
    font-size: 3vw;
    margin-top: 5%;
}
.part2_left_inner h6
{
    font-family: 'font2';
    font-weight: 400;
    font-size: 1vw;
    margin-top: 40%;
    color: #686563;
    
}
.part2_left_inner a
{
    margin-bottom: 4%;
    width: auto;
    font-family: 'font2';

    font-size: 0.9vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-top: 5%;
    color: #e6e7e8;
    background-color: #000000;
    padding: 8px 20px;
    border-radius: 20px;
    border: 0.5px solid #7f7f7ffd;
}

.part2_left_inner a i
{
    rotate: 45deg;
}

.part2_left_inner a i {
    transition: rotate 0.3s;
}

.part2_left_inner a:hover i {
    rotate: 90deg;
}


.part2_right
{
    height: 80vh;
    width: 55%;
    
}


.part2_right img
{
    height: 100%;
    width: 100%;

}






















.scroller
{
    width: 100vw;
    height: 20vh;
    /* background-color: #555; */
    margin-top: 5%;
    display: flex;
    align-items: end;
    overflow: hidden;
}
.tikker {
    display: flex;
    height: 10vh;
    /* background-color: aquamarine; */
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.tikker_track {
    display: flex;
    white-space: nowrap;
    font-size: 1.1vw;
    font-family: 'font2';
    text-transform: uppercase;
    color: #0000006e;
    font-weight: 200;
    /* Animate leftwards, reset seamlessly */
    animation: tikker-scroll 30s linear infinite;
    will-change: transform;
}

.tikker_track span {
    padding: 0 25px;
}

@keyframes tikker-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}







.bottam {
    height: 4.5vh;
    width: 100vw;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 0.5px solid #0000006e;
}


.bottam_inner
{
    width: 98.5vw;
    height: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    /* background-color: aqua; */

}

.bottam_left
{
    width: 20%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;

}
.bottam_left a
{
    font-family: 'font2';
    font-weight: 300;
    font-size: 0.9vw;
text-decoration: none;
color: #000;
}

.bottam_left a i
{
    rotate: 45deg;
    
   
}


.bottam_right
{
    width:20%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    display: flex;
    justify-content: center;

    align-items: center;

}
.bottam_right a
{
    font-family: 'font2';
    font-weight: 300;
    font-size: 0.9vw;
    text-decoration: none;
    color: white;
}

.bottam_right a i
{
    rotate: 45deg;
    
   
}
.bottam_right a span
{
    color: #909091;
}

.bottam_all a i {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bottam_all a:hover i {

    transform: rotate(45deg);
}




.footer_div
{
    height: 85vh;
    width: 100vw;
    background-color: #686563;
    display: flex;
    justify-content: center;
}

footer
{
    width: 100vw;
    height: 85vh;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.footer_up
{
    width: 97vw;
    height: 40vh;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;
    color:#e6e7e8;
    margin-top: 5%;
}
.footer_up_left
{
    width: 25%;
    height: 100%;
    /* background-color: #a14585; */
}
.footer_up_left p
{
    font-family: 'font2';
    font-size: 1.4vw;
    line-height: 33px;
    
}


.footer_up_right
{
    width: 65%;
    height: 100%;
    /* background-color: #461a1a; */
    display: flex;

    font-family: 'font2';
}
.footer_up_right h6
{
    font-size: 0.8vw;
    font-weight: 400;

}
.footer_up_right p
{
    
    font-size: 1vw;
    font-weight: 400;
}
.footer_up_right p i
{
    font-size: 0.8em;
    rotate: 90deg;
    transition: rotate 0.3s;
    opacity: 0;
}
.footer_up_right p {
    cursor: pointer;
    margin-top: 4%;
}

.footer_up_right p i {
    transition: 
        rotate 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_up_right p:hover i,
.footer_up_right p:focus i {
    rotate: 0deg;
    opacity: 1;
}

.footer_up_right_collum_all
{
    width: 20%;
    /* background-color: cadetblue; */
}


.footer_down
{
    height: 20vh;
    width: 97vw;
    /* background-color: chocolate; */
}
.footer_down_1
{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer_down_1_main_logo
{
    height: 100%;
    width: 40%;
}
.footer_down_1_main_logo img
{
    height: 100%;
    width: 100%;
}


.footer_down_1_button
{
    width: 10%;
    /* height: 100%; */
    /* background-color: #dcdcdc; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer_down_1_button button
{
    width: auto;
    font-family: 'font2';

    font-size: 0.9vw;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    /* gap: 10px; */
    text-decoration: none;
    /* margin-top: 5%; */
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0.5px solid #ffffff6e;

}
.footer_down_1_button button i
{
    rotate: 45deg;
}


.footer_down_1_time_data_all
{
    width: 10%;
    height: 100%;
    /* background-color: #dcdcdc; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    /* margin-bottom: 4%; */

}
.footer_down_1_time_data_all p
{
    font-family: 'font1';
    font-size: 0.9vw;
    font-weight: 100;
    line-height: 17px;
    color: white;
}
.footer_down_1_animate_logo
{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: #dcdcdc; */
}




.footer_down_2_outer
{
    height: 5vh;
    width: 100vw;
    
    border-top:0.5px solid #ffffff47;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_down_2_outer p
{
    font-family: 'font2';
    font-size: 1vw;
    color: #e6e7e8;
    font-weight: 300;
    cursor: pointer;
}