* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

html,
body {
    overflow-x: hidden;


}

.main {
    height: auto;
    width: 100vw;
    position: relative;
}

.page1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
  
}
.page1_background_image {
    width: 100vw;
    height: 100vh;
    position: absolute;
 
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    /* background-size: 0%; */
    background-position:center ;
}


.trail-img {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
    pointer-events: none;
    /* Allows clicking through images */
    transform: translate(-50%, -50%) scale(0);
    z-index: 1000;
}
/* 
.page1_mask_image {
    width: 75vw;
    height: 75vh;

} */



.page1_mask_image {
    /* Center the mask container absolutely in .page1 */

    width: 75vh;
    height: 75vh;
    aspect-ratio: 1/1;

    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Perfectly accurate SQUARE mask using SVG <mask> with objectBoundingBox units, centered */
    -webkit-mask-image: url('#svgMask');
    mask-image: url('#svgMask');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center center;
    mask-position: center center;
    mask-mode: alpha;
}



/* .page1_mask_image_svg 
{
    width: 50vw;
    height: 75vh;
    z-index: 999;
    position: absolute;
    
    
}
.page1_mask_image_svg svg
{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    
    
} */

/* 
.page1_mask_image_svg svg path
{
    z-index: 999;
    fill:blue;
} */




.page1_mask_inner_image_1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 75vh;
    width: 50vw;
    background: url('download-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    
    /* Use the SVG <mask> via mask and -webkit-mask, fallback to none if not supported */
    mask-image: none;
    -webkit-mask-image: none;
}

/* Use a parent selector to apply the SVG mask on the container instead of the .page1_mask_inner_image_1 directly */

.page1_mask_inner_image_2 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0%;

    left: 0;
    will-change: trasform;
    /* background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: cover; */


   
}




.page1_mask_inner_image_2 video
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}